.search-box-container{
     margin-bottom: 3rem;
}

.search-box{
     -webkit-appearance: none;
     border:3px solid #eee;
     outline:none;
     padding: 10px;
     min-width:10vw;
     line-height: 30px;
     margin: 0 auto;
     border-radius: 0.5rem;
     background: #fafafa;
     font-family: "Tahoma";
     font-size: 1.2rem;
     box-shadow: 0 0 20px rgb(18 0 49);
}

.search-box:hover{
     background: #fff;
}