.search-box-container {
	margin-bottom: 3rem;
}

.search-box {
	-webkit-appearance: none;
	border: 3px solid #dca6ff;
	outline: none;
	padding: 10px;
	min-width: 10vw;
	margin: 0 auto;
	border-radius: 0.5rem;
	background: #fafafa;
	font-family: "Tahoma";
	font-size: 1rem;
}

.search-box:hover {
	background: #fff;
}

.search-box:hover {
	box-shadow: 0 0 20px #000;
}
