/**
 * Filename: App.css
 * Author: Jose A Felix
 * Description: App component style
 */

 /** ---------------------------------------------------------------- */

.App{
     text-align: center;
}

h1{
     font-family: "Bigelow Rules";
     font-size: 7rem;
     color: #fff;
     text-shadow: 8px 5px 2px rgb(87 0 68);
}